@charset "UTF-8";

.contenr{
  width: 100%;
  height: 100%;
  background-image: url(./img/ダウンロード.jpeg) ;
}

header{
  height: 200px;
  width: 100%;
  margin-bottom: 20px;
}

.cp_cssslider {
	width: 300px;
	height: 200px;
	overflow: hidden;
	margin: 2em auto;
	border: 10px solid #ffffff;
	box-shadow:0px 0px 5px 0px rgba(0,0,0,0.5);
}
.cp_slide_item {
	width: 300px;
	height: 200px;
	float: left;
	position: relative;
}
.cp_slidewrapper {
	width: 500%;/* slideの枚数×100% */
	position: relative;
	left: 0;
	animation: slider 20s infinite ease;/* スピード */
}
@-webkit-keyframes slider {
	/* 100%を枚数で割った%に割り振る */
	0% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	}
	20% {
	-webkit-transform: translateX(-300px);
	transform: translateX(-300px);
	}
	40% {
	-webkit-transform: translateX(-600px);
	transform: translateX(-600px);
	}
	60% {
	-webkit-transform: translateX(-900px);
	transform: translateX(-900px);
	}
	80% {
	-webkit-transform: translateX(-1200px);
	transform: translateX(-1200px);
	}
	100% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	}
}
@keyframes slider {
	/* 100%を枚数で割った%に割り振る */
	0% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	}
	20% {
	-webkit-transform: translateX(-300px);
	transform: translateX(-300px);
	}
	40% {
	-webkit-transform: translateX(-600px);
	transform: translateX(-600px);
	}
	60% {
	-webkit-transform: translateX(-900px);
	transform: translateX(-900px);
	}
	80% {
	-webkit-transform: translateX(-1200px);
	transform: translateX(-1200px);
	}
	100% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	}
}


main{
  margin: 10px 20px;
  line-height: 1.5;
}

.main-heder{
  margin: 10px 20px;
  
}

.main-heder h1{
  font-size: 35px;
  color: rgb(164, 17, 201);
}

.main-heder h2{
  font-size: 25px;
  margin-top: 10px;
}

main p{
  font-size: 17px;
}

.cp_actab {
	position: relative;
	overflow: hidden;
	width: 100%;
	margin-bottom: 1px;
  color: #ffffff;
  font-size: 17px;
}

.document{
  font-size: 17px;
  color: black;

}

.cp_actab input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.cp_actab label {
	font-weight: bold;
	line-height: 3;
	position: relative;
	display: block;
	padding: 0 0 0  1em;
	margin: 0 0 1px 0;
	cursor: pointer;
	background: #1b2538;
}
.cp_actab .cp_actab-content {
	overflow: hidden;
	max-height: 0;
	-webkit-transition: max-height 0.35s;
	transition: max-height 0.35s;
	background: #b2f3bb;
}
.cp_actab .cp_actab-content p {
	margin: 1em;
}
/* :checked */
.cp_actab input:checked ~ .cp_actab-content {
	max-height: 20em;
}
/* Icon */
.cp_actab label::after {
	line-height: 3;
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 8em;
	height: 8em;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
	text-align: center;
}
.cp_actab input[type=radio] + label::after {
	content: 'BC';
}
.cp_actab input[type=radio]:checked + label::after {
	transform: rotateX(180deg);
}

a{
  font-size: 30px;
}

